@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Splideボタンの非表示ロジックを追加 */

/* 左矢印（Prev）が無効なとき非表示 */
.splide__arrow--prev[disabled] {
    display: none;
}

/* 右矢印（Next）が無効なとき非表示 */
.splide__arrow--next[disabled] {
    display: none;
}
